@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #f3eded;
}

.flex,
.flex-v {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.hide {
  display: none;
}

.justify-center {
  justify-content: center;
}

.title {
  font-family: 'Montserrat', sans-serif;
}

input {
  border-radius: 5px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

form {
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 0 auto;
}

.main {
  /* background-color: white; */
  background: url('../images/cloudy.jpg');
  width: 600px;
  height: 500px;
  align-self: center;
  justify-self: center;
  margin: 50px auto;
}

.location {
  height: 100px;
  width: 260px;
  margin: 20px auto;

  /* background-color: white; */
}

.location span {
  margin: 20px;
  font-weight: 300;
  font-size: 25px;
}

.temperature {
  height: 100px;
  width: 300px;
  margin: 20px auto;

  /* background-color: white; */
  transition: height 300ms ease-in-out;
}

.toggle {
  margin: 20px auto;
  padding: 10px 30px;
}

.temperatureImg,
.locationImg {
  width: 100px;
  height: 100px;
}

.locationImg {
  width: 50px;
  height: 60px;
  margin: 10px;
}

.temperatureTxt {
  font-size: 16px;
  margin: 10px 20px;
}

.temperatureVal {
  margin: 10px auto;
  font-size: 30px;
  font-weight: 700;
}
